html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
}

.flower-shop-Banner {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    height: 500px;

}

.flower-shop-info {
    margin-left: 150px;
}

.flower-title {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    font-weight: bolder;
}

.banner-info {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: -22px;
    width: 450px;
}

.banner-flower {
    height: 490px;
    width: 390px;
    margin-top: 10px;
    margin-right: 150px;
}

.Shopping-btn {
    padding: 12px;
    width: 25%;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: white;
}

.flower-main-part {
    text-align: center;
    margin-top: 100px;

}

.mid-title {
    color: #272727;
    font-size: 30px;
    font-weight: 1000;
    font-weight: bolder;
}

.main-disc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 200;


}

.flowers-presentation {
    display: flex;
    gap: 15px;
    margin-left: 380px;
}

.flowers {
    width: 250px;
    height: 300px;
    border-radius: 330px 330px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.icon {
    height: 250px;
    margin-top: 30px;
}

.icons para {
    color: #272727;
    font-size: 19px;
    font-weight: 700;
}

.services-provide {
    margin-top: 100px;
    width: 800px;
    height: 200px;
    background: rgba(90, 88, 88, 0.05);
    margin-left: 370px;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: -100px;

}

.optional-icon {
    margin-left: 80px;
    margin-right: 80px;
    height: 50px;
    width: 50px;

}

.op-disc {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.hot-deal-banner {
    margin-top: 100px;
    width: 1497px;
    height: 300px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.hot-deal-info{
    text-align: center;
    width: 400px;
    margin-left: 200px;

}
#off{
    color: #E55473;
}
.Shopping-btn-hot{
    padding: 12px;
    width: 25%;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: white;

}
.hot-deal-flower{
    height: 230px;
    width: 170px;
    margin-right: 250px;
}

















/* #footer-title {
    color: #E55473;
}

.footer-container {
    text-align: center;
    background: #111010;
    color: white;

}

.footer-disc {
    color: rgba(255, 255, 255, 0.90);

    font-size: 15px;

    font-weight: 400;
    line-height: 20px;
}

.footer-copy {
    color: rgba(255, 255, 255, 0.40);
    font-size: 13px;
    font-weight: 400
} */